<!------ Include the above in your HEAD tag ---------->

<div class="mt-4 ml-4 pl-5 fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first"><br>
            <img src="assets/img/apple-icon.png" style="width: 20%;" id="icon" alt="User Icon" />
        </div><br>
        <!-- Login Form -->
        <form #AddPasswordForm=ngForm (ngSubmit)="onSubmit()">
            <div class="alert alert-danger" [hidden]="!error1">
                {{error1}}
            </div>
            <input type="email" id="email" class="form-control" class="fadeIn second" name="email" placeholder="email" [(ngModel)]="form.email" required>
            <span class="text-danger" [hidden]="!error.email">
                {{error.email}}</span>
            <br>
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="form.password" required>
            <span class="text-danger" [hidden]="!error.password">
                {{error.password}}</span>
            <br>
            <input type="password" id="confirm_password" class="fadeIn third" name="login" placeholder="confirm password" [(ngModel)]="form.password_confirmation" required>
            <span class="text-danger" [hidden]="!error.password_confirmation">
                {{error.password_confirmation}}</span><br>
            <button type="submit" class="btn btn-primary fadeIn fourth" value="ajouter mon mot de passe !" [disabled]="!AddPasswordForm.valid">ajouter mon mot de passe !</button><br>
        </form>



    </div>
</div>