<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ajout Ptba
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form #ptbaForm=ngForm name="documentForm" (ngSubmit)="addPtba()">
                    <input type="text" name="evaluation_id" class="form-control" hidden />
                    <label>Titre</label>
                    <input type="text" class="form-control" name="titre" [(ngModel)]="ptba.libelle" required />
                    <label>Année</label>
                    <input type="number" min="2000" max="2200" class="form-control" id="annee" name="annee" [(ngModel)]="ptba.annee" required />
                    <div class="alert alert-danger" *ngIf="erreur!=null">
                        {{erreur}}
                    </div>
                    <label>Etat</label>
                    <select name="etat" id="etat" class="form-select" [(ngModel)]="ptba.etat" required disabled>
                        <option value="non révisé" >Non révisé</option>
                        <option  value="révisé" >Révisé</option>
                    </select>
                    <label>Budget (par défaut)</label>
                    <input type="number" class="form-control" name="budget" [(ngModel)]="ptba.budget" value="0" required disabled/>
                    <button class="btn btn-primary" [disabled]="!ptbaForm.valid">Ajouter une new ptba</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ajout composante(s)
          </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <h6 *ngIf="last_ptba">{{last_ptba.libelle}}</h6>
                <div *ngIf="last_ptba" class="row">
                    <div class="col-6">
                        <form #composanteForm=ngForm name="documentForm" (ngSubmit)="addComposante()">
                            <input type="text" name="ptba_id" id="ptba_id" value="{{last_ptba.id}}" class="form-control" hidden />
                            <label>Titre</label>
                            <input type="text" class="form-control" name="titre" [(ngModel)]="composante.libelle" required />
                            <label>Budget (par défaut)</label>
                            <input type="number" class="form-control" name="budget" [(ngModel)]="composante.budget" value="0" required disabled/>
                            <button class="btn btn-primary" [disabled]="!composanteForm.valid">Ajouter Composante</button>
                        </form>
                    </div>
                    <div class="col-6">
                        Composantes Ajoutée(s)
                        <div *ngFor="let c of composantes">
                            <div *ngIf="last_ptba.id==c.ptba_id" class="alert alert-primary" role="alert">
                                {{c.libelle}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Ajouter activitées
          </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div *ngFor="let c of composantes">

                    <div class="row">
                        <div class="col-6">
                            <div *ngIf="last_ptba.id==c.ptba_id">
                                {{c.libelle}} <br>
                                <form #composanteForm=ngForm name="documentForm" (ngSubmit)="addComposante()">
                                    <input type="text" name="composante_id" id="ptba_id" value="{{c.id}}" class="form-control" hidden />

                                    <label>Titre</label>
                                    <input type="text" class="form-control" name="titre" [(ngModel)]="activite.libelle" required />

                                    <label>Extrant</label>
                                    <input type="text" class="form-control" name="extrant" [(ngModel)]="activite.extrant" required />

                                    <label>Etat</label>
                                    <select name="etat" id="etat" class="form-select" [(ngModel)]="ptba.etat" required disabled>
                                        <option value="non révisé" >Non révisé</option>
                                        <option  value="révisé" >Révisé</option>
                                    </select>

                                    <label>Pourcentage (par défaut)</label>
                                    <input type="number" class="form-control" name="pourcentage" [(ngModel)]="activite.pourcentage" value="0" required disabled/>

                                    <label>Budget (par défaut)</label>
                                    <input type="number" class="form-control" name="budget" [(ngModel)]="activite.budget" value="0" required disabled/>
                                    <button class="btn btn-primary" [disabled]="!composanteForm.valid">Ajouter activité</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-6"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Collapsible Group Item #4
          </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
            </div>
        </div>
    </div>
</div>