<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <i class="material-icons pr-1">event</i>
        <li class="breadcrumb-item">
            <p class=""> Gestion PTBA</p>
        </li>
        <li class="breadcrumb-item text-primary active" aria-current="page">Planification</li>
    </ol>
</nav>

<div class="row">
    <!--
    <div class="col-6">
        <div class="card text-white bg-white mb-3" style="max-width: 18rem;">
            <div class="card-header text-primary">Ajout nouveau PTBA</div>
            <div class="card-body">
                <h5 class="card-title text-danger">Raccourci d'ajout de nouveau PTBA</h5>
                <p class="card-text text-primary">Vous pouvez ajouter ici directement le fichier excel du PTBA à enregistrer dans la base de données.</p>

                <label for="formFileLg" class="form-label"></label>
                <i class="material-icons-outlined">save_alt</i>
                <input class="form-control form-control-lg" id="formFileLg" type="file" disabled />
            </div>
        </div>
    </div>
    <div class="col-6">
        <ng-container class="p-3">

        </ng-container>


    </div>
    -->
</div>



<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ajout Ptba
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form #ptbaForm=ngForm (ngSubmit)="addPtba(ptbaForm)">
                    <input type="text" name="evaluation_id" class="form-control" hidden />
                    <label>Titre</label>
                    <input type="text" class="form-control" name="titre" [(ngModel)]="ptba.libelle" required />
                    <label>Année</label>
                    <input type="number" min="2000" max="2200" class="form-control" id="annee" name="annee" [(ngModel)]="ptba.annee" required />
                    <div class="alert alert-danger" *ngIf="erreur!=null">
                        {{erreur}}
                    </div>
                    <label>Etat</label>
                    <select name="etat" id="etat" class="form-select" [(ngModel)]="ptba.etat" required disabled>
                        <option value="non révisé" >Non révisé</option>
                        <option  value="révisé" >Révisé</option>
                    </select>
                    <label>Budget (par défaut)</label>
                    <input type="number" class="form-control" name="budget" [(ngModel)]="ptba.budget" value="0" required disabled/>
                    <button class="btn btn-primary" [disabled]="!ptbaForm.valid">Ajouter un ptba</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ajout composante(s)
          </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <h6 *ngIf="last_ptba">{{last_ptba.libelle}}</h6>
                <div *ngIf="last_ptba" class="row">
                    <div class="col-6">
                        <form #composanteForm=ngForm (ngSubmit)="addComposante(composanteForm)">
                            <input type="text" name="ptba_id" id="ptba_id" value="{{last_ptba.id}}" class="form-control" hidden />
                            <label>Titre</label>
                            <input type="text" class="form-control" name="titre" [(ngModel)]="composante.libelle" required />
                            <label>Budget (par défaut)</label>
                            <input type="number" class="form-control" name="budget" [(ngModel)]="composante.budget" value="0" required disabled/>
                            <button class="btn btn-primary" [disabled]="!composanteForm.valid">Ajouter Composante</button>
                        </form>

                    </div>
                    <div class="col-6">
                        <p class="p-3 mb-2 bg-primary text-white text-center">Composante(s) Ajoutée(s)</p>
                        <div *ngFor="let c of composantes">
                            <div *ngIf="last_ptba.id==c.ptba_id" class="alert alert-primary" role="alert">
                                <i class="material-icons" (click)="deleteComposante(c.id)" style="cursor:pointer">close</i> {{c.libelle}}
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Ajout activité(s)
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div *ngIf="composantes">

                    <div class="row">
                        <div class="col-6">
                            <div>
                                <form #activiteForm=ngForm (ngSubmit)="addActivite(activiteForm)">
                                    <select name="composante_id" id="composante_id" class="form-select" [(ngModel)]="activite.composante_id" required>
                                        <ng-container *ngFor="let c of composantes">
                                            <option  *ngIf="last_ptba.id==c.ptba_id" value="{{c.id}}" >{{c.libelle}}</option>
                                        </ng-container>
                                    </select>
                                    <label>Titre</label>
                                    <input type="text" class="form-control" name="titre" [(ngModel)]="activite.libelle" required />

                                    <label>Extrant</label>
                                    <input type="text" class="form-control" name="extrant" [(ngModel)]="activite.extrant" required />

                                    <label>Etat</label>
                                    <select name="etat" id="etat" class="form-select" [(ngModel)]="activite.etat" required disabled>
                                        <option value="non démarrée" selected >Non démarrée</option>
                                        <option  value="en cours" >En cours</option>
                                        <option  value="exécution complète" >Exécution complète</option>
                                    </select>

                                    <label>Pourcentage (par défaut)</label>
                                    <input type="number" class="form-control" name="pourcentage" [(ngModel)]="activite.pourcentage" value="0" required disabled/>

                                    <label>Budget (par défaut)</label>
                                    <input type="number" class="form-control" name="budget" [(ngModel)]="activite.budget" value="0" required disabled/>
                                    <button class="btn btn-primary" [disabled]="!activiteForm.valid">Ajouter activité</button>
                                </form>


                            </div>
                        </div>
                        <div class="col-6">
                            <div *ngFor="let c of composantes">
                                <div *ngIf="last_ptba.id==c.ptba_id">
                                    <p class="p-3 mb-2 bg-primary text-white text-center">{{c.libelle}} -- Activité(s) ajoutée(s)</p>
                                    <div *ngFor="let a of activites">
                                        <div *ngIf="c.id==a.composante_id" class="alert alert-primary" role="alert">
                                            <i class="material-icons" (click)="deleteActivite(a.id)" style="cursor:pointer">close</i> {{a.libelle}}
                                            <ng-container *ngFor="let pa of partenairesassocies">
                                                <ng-container *ngFor="let p of partenaires">
                                                    <ng-container *ngIf="a.id==pa.activite_id && p.id==pa.partenaire_id">
                                                        <div class="alert alert-primary bg-info" role="alert">{{p.libelle}} <i class="material-icons" (click)="deletepartenaireassocie(pa.id)" style="cursor:pointer">close</i></div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngFor="let pf of partenairesfinanciers">
                                                <ng-container *ngFor="let p of partenaires">
                                                    <ng-container *ngIf="a.id==pf.activite_id && p.id==pf.partenaire_id">
                                                        <div class="alert alert-primary bg-warning" role="alert">{{p.libelle}} <i class="material-icons" (click)="deletepartenairefinancier(pf.id)" style="cursor:pointer">close</i></div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngFor="let pr of partenairesresponsables">
                                                <ng-container *ngFor="let p of partenaires">
                                                    <ng-container *ngIf="a.id==pr.activite_id && p.id==pr.partenaire_id">
                                                        <div class="alert alert-primary bg-danger" role="alert">{{p.libelle}} <i class="material-icons" (click)="deletepartenaireresponsable(pr.id)" style="cursor:pointer">close</i></div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row" *ngIf="last_activite">
                        <!--Partenaires associées, financiers, responsables-->


                        <div class="col">
                            <label class="p-3 mb-2 bg-info text-white">Choisir partenaires associés</label>
                            <div class="text-primary">Une fois cochée, appuyez sur OK pour confirmer le choix du partenaire associé.</div>
                            <div *ngFor="let p of partenaires; let i=index">
                                <input type="text" name="activiteassocie_id" id="a1{{p.id}}" value="{{last_activite.id}}" class="form-control" hidden />
                                <div *ngIf="p.type=='technique' || p.type=='financier/technique'">
                                    <div class="font-weight-bold text-uppercase"> {{p.libelle}} <input type="checkbox" id="p1{{p.id}}" name="partenaireassocie_id" value="{{p.id}}" (change)="hide1(p.id)" /></div>
                                    <button class="btn btn-info" (click)="addPartenairesAssocies(p.id)" name="bouton" id="b1{{p.id}}" [disabled]="true"> OK</button>
                                </div>
                            </div>

                        </div>

                        <div class="col">
                            <label class="p-3 mb-2 bg-warning text-white">Choisir partenaires financiers</label>
                            <div class="text-warning">Une fois cochée, appuyez sur OK pour confirmer le choix du partenaire financier.</div>
                            <div *ngFor="let p of partenaires; let i=index">
                                <div *ngIf="p.type=='financier' || p.type=='financier/technique'">
                                    <input type="text" name="activitefinancier_id" id="a{{p.id}}" value="{{last_activite.id}}" class="form-control" hidden />
                                    <div class="font-weight-bold text-uppercase"> {{p.libelle}} <input type="checkbox" id="p{{p.id}}" name="partenairefinancier_id" value="{{p.id}}" (change)="hide2(p.id)" /></div>
                                    <button class="btn btn-warning" (click)="addPartenairesFinanciers(p.id)" name="bouton1" id="b{{p.id}}" [disabled]="true"> OK</button>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <label class="p-3 mb-2 bg-danger text-white">Choisir partenaires responsables</label>
                            <div class="text-danger">Une fois cochée, appuyez sur OK pour confirmer le choix du partenaire responsable.</div>
                            <div *ngFor="let p of partenaires; let i=index">
                                <input type="text" name="activiteresponsable_id" id="a2{{p.id}}" value="{{last_activite.id}}" class="form-control" hidden />
                                <div>
                                    <div class="font-weight-bold text-uppercase"> {{p.libelle}} <input type="checkbox" id="p2{{p.id}}" name="partenaireresponsable_id" value="{{p.id}}" (change)="hide3(p.id)" /></div>
                                    <button class="btn btn-danger" (click)="addPartenairesResponsables(p.id)" name="bouton2" id="b2{{p.id}}" [disabled]="true"> OK</button>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Ajout sous-activité(s)
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                <div *ngIf="activites">

                    <div class="row">
                        <div class="col-6">
                            <div>
                                <form #sousactiviteForm=ngForm (ngSubmit)="addSousactivite(sousactiviteForm)">
                                    <select name="sousactivite_id" id="sousactivite_id" class="form-select" [(ngModel)]="sousactivite.activite_id" required>
                                        <ng-container *ngFor="let c of composantes">
                                            <ng-container *ngIf="last_ptba.id==c.ptba_id">
                                                <ng-container *ngFor="let a of activites">
                                                    <option *ngIf="c.id==a.composante_id"  value="{{a.id}}" >{{a.libelle}}  </option>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </select>
                                    <label>Titre</label>
                                    <input type="text" class="form-control" name="titre" [(ngModel)]="sousactivite.libelle" required />

                                    <label>Etat</label>
                                    <select name="etat" id="etat" class="form-select" [(ngModel)]="sousactivite.etat" required disabled>
                                        <option value="non complet" >non complet</option>
                                        <option  value="complet" >complet</option>
                                    </select>
                                    <label>Pourcentage (par défaut)</label>
                                    <input type="number" class="form-control" name="pourcentage" [(ngModel)]="sousactivite.pourcentage" value="0" required disabled/>

                                    <label>Budget (par défaut)</label>
                                    <input type="number" class="form-control" name="cout_estimatif" [(ngModel)]="sousactivite.cout_estimatif" value="0" required disabled/>


                                    <label>Date début planifié</label>
                                    <input type="date" class="form-control" name="debut_planifie" [(ngModel)]="sousactivite.debut_planifie" required/>

                                    <label>Date fin planifié</label>
                                    <input type="date" class="form-control" name="fin_planifie" [(ngModel)]="sousactivite.fin_planifie" required/>
                                    <button class="btn btn-primary" [disabled]="!sousactiviteForm.valid">Ajouter sous-activité</button>
                                </form>

                            </div>
                        </div>
                        <div class="col-6">
                            <div *ngFor="let c of composantes">
                                <div *ngIf="last_ptba.id==c.ptba_id">
                                    <div *ngFor="let a of activites">
                                        <ng-container *ngIf="c.id==a.composante_id">
                                            <p class="p-3 mb-2 bg-primary text-white text-center">
                                                {{a.libelle}} -- Sous-activité(s) ajoutée(s)
                                            </p>
                                            <ng-container *ngFor="let s of sousactivites">
                                                <div *ngIf="a.id==s.activite_id" class="alert alert-primary" role="alert">
                                                    <i class="material-icons" (click)="deleteSousactivite(s.id)" style="cursor:pointer">close</i> {{s.libelle}}
                                                    <ng-container *ngFor="let psa of partenaires_sa">
                                                        <ng-container *ngIf="s.id==psa.sousactivite_id">
                                                            <ng-container *ngFor="let p of partenaires">
                                                                <div *ngIf="p.id==psa.partenaire_id" class="alert alert-success" role="alert">
                                                                    {{p.libelle}} <i class="material-icons" (click)="deletePartenaireSA(psa.id)" style="cursor:pointer">close</i>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngFor="let msa of mois_sa">
                                                        <ng-container *ngIf="s.id==msa.sousactivite_id">
                                                            <ng-container *ngFor="let m of mois">
                                                                <div *ngIf="m.id==msa.mois_id" class="alert alert-danger" role="alert">
                                                                    {{m.mois}} <i class="material-icons" (click)="deleteMoisSA(msa.id)" style="cursor:pointer">close</i>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>

                                            </ng-container>


                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">

                        <div class="col">
                            <!--Partenaires financiers-->
                            <div *ngIf="last_sousactivite">
                                <label class="p-3 mb-2 bg-dark text-white">Choisir partenaires financiers</label>
                                <div class="text-success">Une fois cochée, appuyez sur OK pour remplir le coût estimatif pour la sous-activité.</div>
                                <div *ngFor="let p of partenaires; let i=index">
                                    <input type="text" name="sousactivite_id" id="s{{p.id}}" value="{{last_sousactivite.id}}" class="form-control" hidden />
                                    <div *ngIf="p.type=='financier' || p.type=='financier/technique'">
                                        <div class="font-weight-bold text-uppercase"> {{p.libelle}} <input type="checkbox" id="p3{{p.id}}" name="partenaire_sa_id" value="{{p.id}}" (change)="budgethide1(p.id)" /></div>
                                        <input type="number" min="0" name="sa_budget" id="sa_budget{{p.id}}" placeholder="budget partenaire pour la sous-activité" [hidden]="budgethide" />
                                        <button class="btn btn-success" (click)="addPartenairesFinanciersSousactivite(p.id)" id="b3{{p.id}}" name="bouton3" [disabled]="true"> OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <!--Mois sous-activité -->
                            <div *ngIf="last_sousactivite">
                                <label class="p-3 mb-2 bg-dark text-white">Choisir les mois pour la sous-activité</label>
                                <div class="text-danger">Une fois cochée, appuyez sur OK pour confirmer le mois pour la sous-activité.</div>
                                <div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div *ngFor="let m of mois; let i=index">
                                                <div *ngIf="i<6">
                                                    <input type="text" name="sousactivite_id1" id="s1{{m.id}}" value="{{last_sousactivite.id}}" class="form-control" hidden />
                                                    <div class="font-weight-bold text-uppercase"> {{m.mois}} <input type="checkbox" id="ms{{m.id}}" name="mois_id" value="{{m.id}}" (change)="hide4(m.id)" /></div>
                                                    <button class="btn btn-danger" (click)="addMoisSousactivite(m.id)" id="b4{{m.id}}" name="bouton4" [disabled]="true"> OK</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div *ngFor="let m of mois; let i=index">
                                                <div *ngIf="i>5 && i<12">
                                                    <input type="text" name="sousactivite_id1" id="s1{{m.id}}" value="{{last_sousactivite.id}}" class="form-control" hidden />
                                                    <div class="font-weight-bold text-uppercase"> {{m.mois}} <input type="checkbox" id="ms{{m.id}}" name="mois_id" value="{{m.id}}" (change)="hide4(m.id)" /></div>
                                                    <button class="btn btn-danger" (click)="addMoisSousactivite(m.id)" id="b4{{m.id}}" name="bouton4" [disabled]="true"> OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div>
                    <button class="btn btn-primary btn-fill float-right" (click)="ptbacreated()" onclick='swal({ title:"Nouveau PTBA !", text: "Le PTBA complet a été créé !", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'>Terminer !</button>
                </div>


            </div>
        </div>
    </div>
</div>