<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <i class="material-icons pr-1">event</i>
        <li class="breadcrumb-item">
            <p class=""> Gestion PTBA</p>
        </li>
        <li class="breadcrumb-item text-primary active" aria-current="page">PTBAs</li>
    </ol>
</nav>

<div class="navbar-form" class="col-6 float-right">
    <div class="input-group no-border">
        <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" class="form-control" placeholder="Rechercher...">
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>
    </div>
</div><br><br>
<table class="table table-bordered table-primary table-striped">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Apperçu</th>
            <th scope="col">Libelle</th>
            <th scope="col">Budget</th>
            <th scope="col">Année</th>
            <th scope="col">Exportations</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="ptbas">
            <tr *ngFor="let p of ptbas |slice: (page-1)*pageSize:page*pageSize| searchFilter:searchText; let i=index">
                <th scope="row">{{p.id}}</th>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" attr.data-target="#exampleModal{{p.id}}">
                        Apperçu
                    </button>
                    <!-- Modal -->
                    <div class="modal" id="exampleModal{{p.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-light primary text-primary text-center" id="exampleModalLabel">
                                        PTBA: {{p.libelle}}.
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <table #userTable id="id{{i}}" class="table-primary table-bordered border-primary">
                                            <thead class="thead-white">
                                                <tr>
                                                    <td colspan="9" class="text-center">PTBA du {{p.annee}}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">{{p.libelle}}</th>
                                                    <th scope="col">
                                                        <tr>
                                                            <td>Budget Total PTBA</td>

                                                        </tr>
                                                        <tr>
                                                            <td>{{p.budget}}</td>
                                                        </tr>
                                                    </th>
                                                    <ng-container *ngFor="let pp of partenairesptbas">
                                                        <th scope="col" *ngIf="pp.ptba_id==p.id">
                                                            <ng-container *ngFor="let pts of partenaires">
                                                                <ng-container *ngIf="pp.partenaire_id==pts.id">

                                                                    <tr>
                                                                        <td>{{pts.libelle}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>{{pp.budget}}</td>
                                                                    </tr>
                                                                </ng-container>
                                                            </ng-container>
                                                        </th>
                                                    </ng-container>
                                                </tr>
                                                <tr>
                                                    <th scope="col">No.</th>
                                                    <th scope="col">Activités Principales</th>
                                                    <th scope="col">Sous-activités</th>
                                                    <th scope="col">Extrants</th>
                                                    <th scope="col">Calendrier de réalisation {{p.annee}}</th>
                                                    <th scope="col">Budget</th>
                                                    <th scope="col">Financement</th>
                                                    <th scope="col">Partie responsable</th>
                                                    <th scope="col">Partie(s) associée(s)</th>
                                                </tr>

                                            </thead>
                                            <tbody>

                                                <ng-container *ngFor="let c of composantes">
                                                    <ng-container *ngIf="c.ptba_id==p.id">
                                                        <tr>
                                                            <th> {{c.libelle}}</th>

                                                            <th>
                                                                <tr>
                                                                    <td>Budget Total Composante</td>

                                                                </tr>
                                                                <tr>
                                                                    <td>{{c.budget}}</td>
                                                                </tr>
                                                            </th>
                                                            <ng-container *ngFor="let cp of composantespartenaires">
                                                                <th scope="col" *ngIf="cp.composante_id==c.id">
                                                                    <ng-container *ngFor="let pts of partenaires">
                                                                        <ng-container *ngIf="cp.partenaire_id==pts.id">

                                                                            <tr>
                                                                                <td>{{pts.libelle}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>{{cp.budget}}</td>
                                                                            </tr>

                                                                        </ng-container>
                                                                    </ng-container>
                                                                </th>
                                                            </ng-container>
                                                        </tr>

                                                        <ng-container *ngFor="let a of activites">
                                                            <ng-container *ngIf="c.id==a.composante_id">
                                                                <tr>
                                                                    <td>{{a.id}}</td>
                                                                    <td>{{a.libelle}}</td>
                                                                    <td>
                                                                        <ng-container *ngFor="let s of sousactivites">
                                                                            <tr *ngIf="s.activite_id==a.id">
                                                                                {{s.libelle}}
                                                                            </tr>
                                                                        </ng-container>
                                                                    </td>
                                                                    <td>{{a.extrant}}</td>
                                                                    <td>

                                                                        <ng-container *ngFor="let s of sousactivites">
                                                                            <ng-container *ngIf="s.activite_id==a.id">
                                                                                <ng-container *ngFor="let ms of moissousactivites">
                                                                                    <ng-container *ngIf="s.id==ms.sousactivite_id">
                                                                                        <ng-container *ngFor="let m of mois">
                                                                                            <ng-container *ngIf="m.id==ms.mois_id">
                                                                                                <td> {{m.mois}} </td>
                                                                                            </ng-container>
                                                                                        </ng-container>
                                                                                    </ng-container>
                                                                                </ng-container>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </td>
                                                                    <td>{{a.budget}}</td>
                                                                    <td>
                                                                        <ng-container *ngFor="let paf of partenaireactivitefinancier">
                                                                            <ng-container *ngFor="let p of partenaires">
                                                                                <ng-container *ngIf="paf.activite_id==a.id && paf.partenaire_id==p.id">
                                                                                    {{p.libelle}}
                                                                                </ng-container>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </td>
                                                                    <td>
                                                                        <ng-container *ngFor="let paf of partenaireactiviteresponsable">

                                                                            <ng-container *ngFor="let p of partenaires">

                                                                                <ng-container *ngIf="paf.activite_id==a.id && paf.partenaire_id==p.id">
                                                                                    {{p.libelle}}
                                                                                </ng-container>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </td>
                                                                    <td>
                                                                        <ng-container *ngFor="let paf of partenaireactiviteassocie">

                                                                            <ng-container *ngFor="let p of partenaires">

                                                                                <ng-container *ngIf="paf.activite_id==a.id && paf.partenaire_id==p.id">
                                                                                    {{p.libelle}}
                                                                                </ng-container>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                        </ng-container>

                                                    </ng-container>
                                                </ng-container>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{p.libelle}}</td>
                <td>{{p.budget}}</td>
                <td>{{p.annee}}</td>
                <td><button class="btn btn-success" (click)="exportElmToExcel(p.libelle,i)">exporter excel</button>
                    <button class="btn btn-danger" (click)="exportpdf(i)">exporter pdf</button></td>
                <td class="td-actions">
                    <!--
                    <button type="button" rel="tooltip" title="Modifier ptba" data-toggle="modal" attr.data-target="#m{{p.id}}" class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">edit</i>
                    </button>
                    <!- Modal Modifier ->
                    <div class="modal fade" id="m{{p.id}}" tabindex="-1" role="dialog" attr.aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="card-header card-header-primary text-center">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center" id="exampleModalLongTitle">Modifier la recommandation {{p.titre}}.</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <form #recommandationForm=ngForm name="recommandationForm" (ngSubmit)="getPtbas()" enctype="multipart/form-data">
                                        <div class="alert alert-danger" [hidden]="!error">
                                            {{error}}
                                        </div>

                                        <div class="row mb-3">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Titre</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="titre" id="inputEmail3" [(ngModel)]="p.titre" required>
                                            </div>
                                        </div><br>
                                        <div class="row mb-3">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label text-break">Recommandation</label>
                                            <div class="col-sm-10">
                                                <input type="file" accept=".pdf, .doc, .docx" class="form-control" name="recommandation" (change)="getPtbas()" id="file1" [(ngModel)]="p.recommandation">
                                                <div class="text-left"> (.pdf ou .docx seulement)</div>
                                            </div>
                                            <div class="text-center">
                                                <a href="http://localhost:8000/.{{p.recommandation}}" target="blank">Veuillez consulter ici le PDF déja défini, avant modification.</a>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row mb-3">
                                            <label for="date_finale" class="col-sm-2 col-form-label">Date Finale</label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control" name="date_finale" id="date_finale" value="{{p.date_finale|date: 'yyyy-MM-dd'}}" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label">Statut </label>
                                            <div class="col-sm-10">
                                                <select name="statut" id="statut" class="form-select" [(ngModel)]="p.statut" required>
                                        <option value="exécuté">Executé</option>
                                        <option  value="en cours">En cours</option>
                                        <option selected value="non exécuté" >Non executé</option>
                                    </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" [disabled]="!recommandationForm.valid">Enregistrer</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Modifier -->
                    <button type="button" (click)="deleteptba(p.id)" rel="tooltip" title="Supprimer recommandation" class="btn btn-danger btn-link btn-sm">
                <i class="material-icons">close</i>
                </button>
                </td>
            </tr>
        </ng-container>
    </tbody>

</table>
<ngb-pagination *ngIf="ptbas" [(page)]="page" currentPage="1" [pageSize]="pageSize" [collectionSize]="ptbas.length" class="active">
</ngb-pagination>