<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <i class="material-icons pr-1">person</i>
        <li class="breadcrumb-item">
            <p class="">Utilisateurs</p>
        </li>
        <li class="breadcrumb-item text-primary active" aria-current="page">Gestion des rôles</li>
    </ol>
</nav>
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header card-header-success" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Nouveau rôle et permissions.
              </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h4 class="text-center"> Ajouter le nom du rôle </h4><br>
                    <form #addRoleForm=ngForm (ngSubmit)="onSubmit()">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Nom du role</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="libelle_roles" id="inputEmail3" [(ngModel)]="form.libelle_role" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10 offset-2">
                                <button type="submit" class="btn btn-primary" [disabled]="!addRoleForm.valid">Ajouter un nouveau rôle</button>

                            </div>
                        </div>
                    </form><br><br>
                    <div *ngIf="role!=null">
                        <div class="alert alert-success" *ngIf="role|keyvalue" role="alert">
                            Veuillez choisir, ci-dessous, les modules et permissions correspondants au rôle : <b>{{role[0]['libelle_role']}}</b>.
                        </div>

                    </div>
                    <h4 class="text-center"> Ajouter les modules et permissions</h4><br>
                    <!--

                    <mat-tab-group mat-align-tabs="start" [hidden]="table1">
                       
                        <mat-tab *ngFor="let m of modules; let i = index" label="{{m.libelle_module}}">
                            <div class="bg-dark">
                                <form action="" class="text-center">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class=" form-control" type="hidden" attr.value="{{m.id}}" name="module_id" id="{{m.id}}" />
                                            <span class="">
                                            <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check" *ngIf="role!=null">
                                        <label class="form-check-label">
                                            <input class=" form-control" type="hidden" attr.value="{{role[0]['id']}}" name="role_id"id="{{role[0]['id']}}"  />
                                            <span class="">
                                            <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                                Ajouter lecture
                                            <input class="form-check-input form-control" type="checkbox" name="lecture" id="lecture"/>
                                            <span class="form-check-sign">
                                            <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                                Activer l'ajout
                                            <input class="form-check-input form-control" type="checkbox" name="ajout" id="ajout" />
                                            <span class="form-check-sign">
                                            <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                                Activer la modification
                                            <input class="form-check-input form-control" type="checkbox" name="modification" id="modification" />
                                            <span class="form-check-sign">
                                            <span class="check"></span>
                                            </span>
                                       </label>
                                    </div>
                                    <div class="form-check ">
                                        <label class="form-check-label">
                                                Activer la suppression
                                            <input class="form-check-input form-control" type="checkbox" name="suppression" id="suppression" />
                                            <span class="form-check-sign">
                                            <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary " name="buttontable" (click)="onIn(i)" [disabled]="button_table">valider pour {{m.libelle_module}}</button>
                                </form>
                            </div>
                        </mat-tab>
                    </mat-tab-group>-->

                    <table class="table table-dark" [hidden]="table1">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Modules</th>
                                <th scope="col">Permissions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of modules; let i =index">
                                <td>{{m.id}}</td>
                                <td>{{m.libelle_module}}</td>
                                <td>

                                    <form action="">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class=" form-control" type="hidden" attr.value="{{m.id}}" name="module_id" id="{{m.id}}" />
                                                <span class="">
                                                <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check" *ngIf="role!=null">
                                            <label class="form-check-label">
                                                <input class="form-control" type="hidden" attr.value="{{role[0]['id']}}" name="role_id" id="{{role[0]['id']}}"  />
                                                <span class="">
                                                <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            Ajouter lecture
                                            <label class="form-check-label">
                                                <input class="form-check-input form-control" type="checkbox" name="lecture" id="lecture"/>
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            Activer l'ajout
                                            <label class="form-check-label">
                                                <input class="form-check-input form-control" type="checkbox" name="ajout" id="ajout" />
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            Activer la modification
                                            <label class="form-check-label">
                                                <input class="form-check-input form-control" type="checkbox" name="modification" id="modification" />
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                           </label>
                                        </div>
                                        <div class="form-check ">
                                            Activer la suppression
                                            <label class="form-check-label">
                                                <input class="form-check-input form-control" type="checkbox" name="suppression" id="suppression" />
                                                <span class="form-check-sign">
                                                <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary text-center" name="buttontable" (click)="onIn(i)" [disabled]="button_table">valider pour {{m.libelle_module}}</button>
                                    </form>
                                </td>
                            </tr>



                        </tbody>

                    </table>
                    <br>

                    <table class="table table-dark" [hidden]="!table1">
                        <thead>
                            <tr>
                                <th scope="col">#</th>

                                <th scope="col">Permissions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>(Ajouter un rôle pour ajouter les permissions pour chaque module)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-danger" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Gestion des rôles.
              </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body"><br>
                    <div class="navbar-form" class="col-6 float-right">
                        <div class="input-group no-border">
                            <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" class="form-control" placeholder="Rechercher...">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div><br><br>
                    <!--Table of roles-->
                    <table class="table table-hover ">
                        <thead class="text-danger">
                            <tr>
                                <td>
                                    #
                                </td>
                                <td>
                                    Nom role
                                </td>
                                <td>
                                    options
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of roles |slice: (page-1)*pageSize:page*pageSize| searchFilter:searchText">
                                <td>{{r.id}}</td>
                                <td>{{r.libelle_role}}</td>
                                <td class="td-actions">
                                    <button type="button" rel="tooltip" title="Modifier role" data-toggle="modal" data-toggle="modal" attr.data-target='#m{{r.id}}' (click)=" this.getPermissionsByRoleId(r.id)" class="btn btn-primary btn-link btn-sm">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Supprimer role" (click)="delete(r.id)" class="btn btn-danger btn-link btn-sm">
                                        <i class="material-icons">delete_forever</i>
                                    </button>
                                </td>
                                <!-- Modal modifier role -->
                                <div class="modal fade" id="m{{r.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="card-header card-header-danger text-center">
                                                <div class="modal-header">

                                                    <h5 class="modal-title text-center" id="{{r.id}}">Informations de l'utilisateur</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    <form #roleupdateForm=ngForm name="roleupdateForm" id="roleupdateForm" (ngSubmit)="updaterole(r)">

                                                        <div class="row mb-3">
                                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Libelle</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" name="libelle" id="inputEmail3" [(ngModel)]="r.libelle_role" required>
                                                            </div>
                                                        </div>


                                                        <button type="submit" class="btn btn-danger" [disabled]="!roleupdateForm.valid">Enregistrer</button>
                                                    </form>
                                                </div> <br>
                                                <div>
                                                    <table class="table table-dark">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Modules</th>
                                                                <th scope="col">Etat</th>
                                                                <th scope="col">Permissions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngFor="let m of modules;let i=index">
                                                                <ng-container *ngFor="let pr of permissions_to_role">
                                                                    <ng-container *ngIf="pr.module_id==m.id">
                                                                        <tr>
                                                                            <td>{{i+1}}</td>
                                                                            <td>{{m.libelle_module}}</td>
                                                                            <td>
                                                                                <p>Lecture : <i class="material-icons" *ngIf="pr.permisions_to_module.read==true">done</i>
                                                                                    <i class="material-icons" *ngIf="pr.permisions_to_module.read==false">close</i>
                                                                                </p>
                                                                                <p>Ajouter : <i class="material-icons" *ngIf="pr.permisions_to_module.add==true">done</i>
                                                                                    <i class="material-icons" *ngIf="pr.permisions_to_module.add==false">close</i></p>
                                                                                <p>Modifier : <i class="material-icons" *ngIf="pr.permisions_to_module.modify==true">done</i>
                                                                                    <i class="material-icons" *ngIf="pr.permisions_to_module.modify==false">close</i></p>
                                                                                <p>Supprimer : <i class="material-icons" *ngIf="pr.permisions_to_module.delete==true">done</i>
                                                                                    <i class="material-icons" *ngIf="pr.permisions_to_module.delete==false">close</i></p>
                                                                            </td>
                                                                            <td>
                                                                                <form #modifroleForm=ngForm name="modifroleForm" (ngSubmit)="updatePermissionsToRole(pr)">
                                                                                    <div class="form-check">
                                                                                        <label class="form-check-label">
                                                                                        <input class=" form-control" type="hidden" attr.value="{{m.id}}" name="module_id" id="{{m.id}}" />
                                                                                        <span class="">
                                                                                        <span class="check"></span>
                                                                                        </span>
                                                                                    </label>
                                                                                    </div>
                                                                                    <div class="form-check" *ngIf="role!=null">
                                                                                        <label class="form-check-label">
                                                                                        <input class=" form-control" type="hidden" attr.value="{{role[0]['id']}}" name="role_id"id="{{role[0]['id']}}"  />
                                                                                        <span class="">
                                                                                        <span class="check"></span>
                                                                                        </span>
                                                                                    </label>
                                                                                    </div>
                                                                                    <div class="form-check">
                                                                                        Ajouter lecture
                                                                                        <label class="form-check-label">
                                                                                        <input class="form-check-input form-control" type="checkbox" name="lecture{{pr.id}}" id="lecture{{pr.id}}" [(ngModel)]="pr.permisions_to_module.read" />
                                                                                        <span class="form-check-sign">
                                                                                        <span class="check"></span>
                                                                                        </span>
                                                                                    </label>
                                                                                    </div>
                                                                                    <div class="form-check">
                                                                                        Activer l'ajout
                                                                                        <label class="form-check-label">
                                                                                        <input class="form-check-input form-control" type="checkbox" name="ajout{{pr.id}}" id="ajout{{pr.id}}" [(ngModel)]="pr.permisions_to_module.add"  />
                                                                                        <span class="form-check-sign">
                                                                                        <span class="check"></span>
                                                                                        </span>
                                                                                    </label>

                                                                                    </div>
                                                                                    <div class="form-check">
                                                                                        Activer la modification
                                                                                        <label class="form-check-label">
                                                                                        <input class="form-check-input form-control" type="checkbox" name="modification{{pr.id}}" id="modification{{pr.id}}" [(ngModel)]="pr.permisions_to_module.modify" />
                                                                                        <span class="form-check-sign">
                                                                                        <span class="check"></span>
                                                                                        </span>
                                                                                   </label>
                                                                                    </div>
                                                                                    <div class="form-check ">
                                                                                        Activer la suppression
                                                                                        <label class="form-check-label">
                                                                                        <input class="form-check-input form-control" type="checkbox" name="suppression{{pr.id}}" id="suppression{{pr.id}}" [(ngModel)]="pr.permisions_to_module.delete" />
                                                                                        <span class="form-check-sign">
                                                                                        <span class="check"></span>
                                                                                        </span>
                                                                                    </label>
                                                                                    </div>
                                                                                    <button type="submit" class="btn btn-primary text-center" [disabled]="!modifroleForm.valid" name="buttontable" [disabled]="button_table">modifier pour {{m.libelle_module}}</button>
                                                                                </form>
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                </ng-container>
                                                                <ng-container *ngIf="permissions_to_role">
                                                                    <tr>
                                                                        <td>{{i+1}}</td>
                                                                        <td>{{m.libelle_module}}</td>
                                                                        <td> (Ajout d'un nouveau module au rôle)</td>
                                                                        <td>
                                                                            <form action="">
                                                                                <div class="form-check">
                                                                                    <label class="form-check-label">
                                                                                    <input class=" form-control" type="hidden" attr.value="{{m.id}}" name="module_id" id="{{m.id}}" />
                                                                                    <span class="">
                                                                                    <span class="check"></span>
                                                                                    </span>
                                                                                </label>
                                                                                </div>
                                                                                <div class="form-check">
                                                                                    <label class="form-check-label">
                                                                                    <input class=" form-control" type="hidden" attr.value="{{r.id}}" name="role_id" id="{{r.id}}"  />
                                                                                    <span class="">
                                                                                    <span class="check"></span>
                                                                                    </span>
                                                                                </label>
                                                                                </div>

                                                                                <div class="form-check">
                                                                                    Ajouter lecture
                                                                                    <label class="form-check-label">
                                                                                    <input class="form-check-input form-control" type="checkbox" (change)="getcheckboxvalue($event)" name="lecture_a"  id="lecture_a{{i}}"/>
                                                                                    <span class="form-check-sign">
                                                                                    <span class="check"></span>
                                                                                    </span>
                                                                                </label>
                                                                                </div>
                                                                                <div class="form-check">
                                                                                    Activer l'ajout
                                                                                    <label class="form-check-label">
                                                                                    <input class="form-check-input form-control" type="checkbox" name="ajout" id="ajout{{i}}"/>
                                                                                    <span class="form-check-sign">
                                                                                    <span class="check"></span>
                                                                                    </span>
                                                                                </label>
                                                                                </div>
                                                                                <div class="form-check">
                                                                                    Activer la modification
                                                                                    <label class="form-check-label">
                                                                                    <input class="form-check-input form-control" type="checkbox" name="modification" id="modification{{i}}"/>
                                                                                    <span class="form-check-sign">
                                                                                    <span class="check"></span>
                                                                                    </span>
                                                                               </label>
                                                                                </div>
                                                                                <div class="form-check">
                                                                                    Activer la suppression
                                                                                    <label class="form-check-label">
                                                                                    <input class="form-check-input form-control" type="checkbox" name="suppression" id="suppression{{i}}"/>
                                                                                    <span class="form-check-sign">
                                                                                    <span class="check"></span>
                                                                                    </span>
                                                                                </label>
                                                                                </div>
                                                                                <button type="submit" class="btn btn-primary text-center" name="buttontable1" (click)="onIn1(i)" [disabled]="button_table">valider pour {{m.libelle_module}}</button>
                                                                            </form>
                                                                        </td>
                                                                    </tr>
                                                                </ng-container>
                                                            </ng-container>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fin Modal modifier role-->
                            </tr>
                        </tbody>
                    </table>
                    <!-- Fin Table of roles-->

                    <div class="row">
                        <div class="col-9">
                            <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [(page)]="page" currentPage="1" [pageSize]="pageSize" [collectionSize]="roles.length" class="active"></ngb-pagination>
                        </div>
                        <div class="col-3">Pagination par : <input type="number" class="form-control" [(ngModel)]="pageSize" min=5/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>