<div *ngIf="loggedIn">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-4.jpg">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
        Tip 2: you can also add an image using data-image tag0

          <div class="logo text-primary"><a href="#" class="simple-text logo-normal">
            SPPB / PNDL
        </a></div>
     -->

        <div class="card-header card-header-danger text-primary">
            <h4 class="card-title simple-text logo-normal"> SPPB / PNDL </h4>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="tableau-de-bord">
                        <i class="material-icons">dashboard</i>
                        <p>Tableau de bord</p>
                    </a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="material-icons">person</i>
                        <p routerLinkActive="active">Utilisateurs</p>
                    </a>
                </li>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body bg-light">
                        <li class="nav-item " routerLinkActive="active">
                            <a class="nav-link" routerLink="add-role" routerLinkActive="active">Gestion des roles</a>
                        </li>
                        <hr>
                        <li class="nav-item " routerLinkActive="active">
                            <a class="nav-link" routerLink="gestion-utilisateurs" routerLinkActive="active">Gestion des utilisateurs</a>
                        </li>
                    </div>
                </div>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="gestion-ptba">
                        <i class="material-icons">event</i>
                        <p>Gestion PTBA</p>
                    </a>
                </li>


                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="gestion-partenaires">
                        <i class="material-icons">work</i>
                        <p>Gestion des partenaires </p>
                    </a>
                </li>

                <!-- <li class="nav-item " routerLinkActive="active">
                        <a class="nav-link" routerLink="recommandations">
                            <i class="material-icons">hourglass_empty</i> Gestion des recommandations
                        </a>
                    </li>-->
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="documents-evaluations">
                        <i class="material-icons">fact_check</i>
                        <p>Gestion des evaluations</p>
                    </a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="documents">
                        <i class="material-icons">note_add</i> Gestion des documents (aléatoires) partagés
                    </a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="gestion-pistes-bavardes">
                        <i class="material-icons">map</i>
                        <p>Gestion pistes bavardes</p>
                    </a>
                </li>

                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="gestion-passations-marches">
                        <i class="material-icons">receipt_long</i>
                        <p>Gestion passations marchés</p>
                    </a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="gestion-chaines-de-valeurs">
                        <i class="material-icons">storage</i>
                        <p>Gestion Chaines de valeurs</p>
                    </a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="gestion-indicateurs">
                        <i class="material-icons">assessment</i>
                        <p>Gestion indicateurs</p>
                    </a>
                </li>



            </ul>
        </div>
    </div>
</div>

<div *ngIf="!loggedIn">
    <div class="sidebar" data-color="azure" data-background-color="azure" data-image="assets/img/sidebar-3.jpg ">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger "

    Tip 2: you can also add an image using data-image tag
 -->
        <div class="logo "><a href="# " class="simple-text logo-normal ">SSEP / PNDL</a></div>
        <div class="pt-4">
            <img src="assets/img/meteo.png" />
        </div>
        <div class="m-5 p-2">
            <p><i> {{ date |date :'fullDate'}}</i> </p><br>
            <p><b>{{ date |date :'h:mm a z'}}</b></p>
        </div>

    </div>
</div>