<div *ngIf="loggedIn">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-4.jpg">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
        Tip 2: you can also add an image using data-image tag0

          <div class="logo text-primary"><a href="#" class="simple-text logo-normal">
             PNDL /PDZP
        </a></div>
     -->
        <div class="logo text-primary persoprimarybg text-white">
            <div class="simple-text  text-white logo-normal">
                <img src="assets/img/apple-icon.png" style="width:50px;height: 30px; float:right;padding-right: 5%;" />
                <p>PNDL/PDZP</p>
            </div>
        </div>

        <div class="sidebar-wrapper simple-text">
            <ul class="nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="tableau-de-bord">
                        <i class="material-icons">dashboard</i>
                        <p class="text-break">Tableau de bord</p>
                    </a>
                </li>
                <ng-container *ngFor="let m of modules; let i =index">
                    <ng-container *ngFor="let p1 of permissions_to_role; let i1=index">

                        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="m.id==p1.module_id && m.libelle_module=='Utilisateurs'">
                            <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <p class="text-break">utilisateurs</p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                <a class="dropdown-item" routerLink='add-role'>Gestion des rôles</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" routerLink='gestion-utilisateurs'>Gestion des utilisateurs</a>
                                <div class="dropdown-divider"></div>

                            </div>
                        </li>
                        <li class="nav-item " routerLinkActive="active" *ngIf="m.id==p1.module_id  && m.libelle_module=='PTBA' ">
                            <a class="nav-link" routerLink="gestion-ptba">
                                <i class="material-icons">event</i>
                                <p class="text-break">Gestion PTBA</p>
                            </a>
                        </li>
                        <li class="nav-item " routerLinkActive="active" *ngIf="m.id==p1.module_id  && m.libelle_module=='Partenaires Projet' ">
                            <a class="nav-link" routerLink="gestion-partenaires">
                                <i class="material-icons">work</i>
                                <p class="text-break">Gestion des partenaires </p>
                            </a>
                        </li>
                        <li class="nav-item " routerLinkActive="active" *ngIf="m.id==p1.module_id  && m.libelle_module=='Pistes Bavardes' ">
                            <a class="nav-link" routerLink="gestion-pistes-bavardes">
                                <i class="material-icons">map</i>
                                <p class="text-break">Gestion pistes bavardes</p>
                            </a>
                        </li>
                        <li class="nav-item " routerLinkActive="active" *ngIf="m.id==p1.module_id  && m.libelle_module=='Passation de marchés'">
                            <a class="nav-link" routerLink="gestion-passations-marches">
                                <i class="material-icons">receipt_long</i>
                                <p class="text-break">Gestion passations de marchés</p>
                            </a>
                        </li>
                        <li class="nav-item " routerLinkActive="active" *ngIf="m.id==p1.module_id  && m.libelle_module=='Chaines de valeurs' ">
                            <a class="nav-link" routerLink="gestion-chaines-de-valeurs">
                                <i class="material-icons">storage</i>
                                <p class="text-break">Gestion chaines de valeurs</p>
                            </a>
                        </li>
                        <li class="nav-item " routerLinkActive="active" *ngIf="m.id==p1.module_id  && m.libelle_module=='Indicateurs'">
                            <a class="nav-link" routerLink="gestion-indicateurs">
                                <i class="material-icons">assessment</i>
                                <p class="text-break ">Gestion indicateurs</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="m.id==p1.module_id && m.libelle_module=='Chaines de valeurs'">
                            <a class="nav-link" routerLink="documents-evaluations">
                                <i class="material-icons">fact_check</i>
                                <p class="text-break">Gestion des evaluations</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active" *ngIf="m.id==p1.module_id && m.libelle_module=='Partage de documents'">
                            <a class="nav-link" routerLink="documents">
                                <i class="material-icons">note_add</i> Gestion des documents partagés
                            </a>
                        </li>
                    </ng-container>



                </ng-container>
            </ul>
        </div>

    </div>
</div>
<div *ngIf="!loggedIn">
    <div class="sidebar" data-color="azure" data-background-color="azure" data-image="assets/img/sidebar-3.jpg ">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger "
    Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo"><a href="#" class="simple-text logo-normal">PDZP / PNDL</a></div>
        <div class="pt-4">
            <img src="assets/img/meteo.png" />
        </div>
        <div class="m-5 p-2">
            <p><i> {{ date |date :'fullDate'}}</i> </p><br>
            <p><b>{{ date |date :'h:mm a z'}}</b></p>
        </div>
    </div>
</div>