<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-primary">
        <i class="material-icons pr-1 ">event</i>
        <li class="breadcrumb-item">
            <p class=""> Gestion plan de travail et budget annuel</p>
        </li>

    </ol>
</nav>
<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3">
                <a routerLink="/gestion-ptba/planification-ptba">
                    <img class="card-img-top" src="assets/img/planification.jpg" rel="nofollow" alt="Card image cap">
                    <div class="card-body">

                        <h4 class="card-title">Planification</h4>

                        <p class="card-text"></p>

                    </div>
                </a>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <a routerLink="/gestion-ptba/suivi-ptba">
                    <img class="card-img-top" src="assets/img/suivi.jpg" rel="nofollow" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Suivi</h4>
                        <p class="card-text"></p>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3">
                <a routerLink="/gestion-ptba/ptbas">
                    <img class="card-img-top" src="assets/img/ptbas.jpg" rel="nofollow" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">PTBAs</h4>
                        <p class="card-text"></p>

                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <a routerLink="/gestion-ptba/rapports">
                    <img class="card-img-top" src="assets/img/rapports.jpg" rel="nofollow" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Rapports</h4>
                        <p class="card-text"></p>

                    </div>
                </a>
            </div>
        </div>

    </div>
</div>