<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-primary">
        <i class="material-icons pr-1 ">storage</i>
        <li class="breadcrumb-item">
            <p class=""> Gestion Chaines de valeur</p>
        </li>
    </ol>
</nav>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <a routerLink="/gestion-chaines-de-valeurs/organisations" class="text-white">
                <div class="card-header">Organsisations recensées</div>
                <div class="card-body">
                    <h5 class="card-title"><span class="material-icons">corporate_fare</span></h5>
                    <p class="card-text">Base de données nationale des organisations recensées dans les communes.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <a routerLink="/gestion-chaines-de-valeurs/organisations-accompagnees" class="text-white">
                <div class="card-header">Organisations accompagnées</div>
                <div class="card-body">
                    <h5 class="card-title"><span class="material-icons">workspaces</span></h5>
                    <p class="card-text">Base de données nationale des organisations accompagnées au niveau des communes.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <a routerLink="/gestion-chaines-de-valeurs/identifications" class="text-white">
                <div class="card-header">Identification</div>
                <div class="card-body">
                    <h5 class="card-title"><span class="material-icons">groups</span></h5>
                    <p class="card-text">Base de données nationale des producteurs identifiés au niveau des communes.</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <a routerLink="/gestion-chaines-de-valeurs/georeferencement" class="text-white">
                <div class="card-header">Géoréférencement</div>
                <div class="card-body">
                    <h5 class="card-title"><span class="material-icons">my_location</span></h5>
                    <p class="card-text">Base de données nationale de l'ensemble des données de géoréférenements identifiées au niveau des communes.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <a routerLink="/gestion-chaines-de-valeurs/formations" class="text-white">
                <div class="card-header">Formation</div>
                <div class="card-body">
                    <h5 class="card-title"><span class="material-icons">supervised_user_circle</span></h5>
                    <p class="card-text">Base de données nationale de l'ensemble des formations et personnes formées au niveau des communes.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4">

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <a routerLink="/gestion-chaines-de-valeurs/suivi-production" class="text-white">
                <div class="card-header">Suivi Production</div>
                <div class="card-body">
                    <h5 class="card-title"><span class="material-icons">leaderboard</span></h5>
                    <p class="card-text">Base de données nationale de l'ensemble des données de suivi de production au niveau des communes.</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card bg-light mb-3 text-dark" style="max-width: 18rem;">
            <a routerLink="/gestion-chaines-de-valeurs/agreage-qualite" class="text-dark">
                <div class="card-header">Agréage qualité</div>
                <div class="card-body">
                    <h5 class="card-title text-dark"><span class="material-icons">graphic_eq</span></h5>
                    <p class="card-text">Base de données nationale des données d'agréage qualité au niveau des communes</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <a routerLink="/gestion-chaines-de-valeurs/transformation" class="text-white">
                <div class="card-header">Transformation</div>
                <div class="card-body">
                    <h5 class="card-title"><span class="material-icons">move_up</span></h5>
                    <p class="card-text">Base de données nationale des données de transformation au niveau des communes.</p>
                </div>
            </a>
        </div>
    </div>
</div>