<div *ngIf="lire==true; else elseBlock">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ">
            <i class="material-icons pr-1 ">storage</i>
            <li class="breadcrumb-item">
                <a routerLink="/gestion-chaines-de-valeurs" class="text-dark">
                    <p class=""> Gestion Chaines de valeur</p>
                </a>
            </li>
            <li class="breadcrumb-item text-danger active" aria-current="page">
                Géoréférencement
            </li>
        </ol>
    </nav>
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header"><span class="material-icons">corporate_fare</span></div>
        <div class="card-body">

            <p class="card-text">Ajouter ci-dessous le fichier Excel comportant les nouvelles données pour la base de données nationale des organisations.</p>
            <form #organisationForm=ngForm name="organisationForm" enctype="multipart/form-data">
                <div class="input-group mb-3 text-white bg-white">
                    <input type="file" accept=".xls, .xlsx, .csv" class="form-control" id="organisation_file" name="organisation_file" class="form-control" required><br><br>
                </div>
                <button type="submit" class="btn btn-danger" [disabled]="!organisationForm.valid" class="btn btn-danger">Importer</button>
            </form>
        </div>
    </div><br>

    <div>
        <div class="card" style="width: 110%;">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Base de données nationale.</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-bordered border-danger">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Région</th>
                            <th scope="col">Département</th>
                            <th scope="col">Commune</th>
                            <th scope="col">Village</th>
                            <th scope="col">Prénom & Nom</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Organisation de base</th>
                            <th scope="col">Superficie globale</th>
                            <th scope="col">Superficie mesurée</th>
                            <th scope="col">Poulaillers</th>
                            <th scope="col">Bergeries</th>
                            <th scope="col">Equipements</th>
                            <th scope="col">Coordonnées X</th>
                            <th scope="col">coordonnées Y</th>
                            <th scope="col" class="bg-danger text-white">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><br>
</div>
<ng-template #elseBlock>Vous n'avez pas accès à ce module.</ng-template>