<div *ngIf="lire==true; else elseBlock">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <i class="material-icons pr-1 text-primary">note_add</i>
            <li class="breadcrumb-item">
                <p class="text-primary"> Gestion des documents partagés</p>
            </li>

        </ol>
    </nav><br>
    <div class="card text-white bg-primary" style="max-width: 18rem;">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title text-capitalize">nombre de documents enregistrés :</h5>
            <h2 class="text-center">{{documents.length}}</h2>
        </div>
    </div>
    <div class="navbar-form" class="col-6 float-right">
        <div class="input-group no-border">
            <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" class="form-control" placeholder="Rechercher...">
            <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>
        </div>
    </div><br><br>
    <div class="card">
        <table class="table bg-white">
            <thead class="table-dark">
                <tr>
                    <td>#</td>
                    <td>Nom</td>
                    <td>Document</td>
                    <td>Date création</td>
                    <td>Mise en ligne par</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of documents|slice: (page-1)*pageSize:page*pageSize| searchFilter:searchText">

                    <td>{{d.id}}</td>
                    <td>{{d.titre}}</td>
                    <td>{{d.documentpartage}}
                        <div>
                            <a href="http://localhost:8000/.{{d.documentpartage}}" target="blank">Consulter le PDF</a>
                        </div>
                    </td>
                    <td>{{d.created_at|date:'d-MM-y' }}</td>
                    <td>
                        <div *ngFor="let u of users">
                            <div *ngIf="u.id==d.user_id">{{u.surname}} {{u.name}}</div>
                        </div>
                    </td>
                    <td class="td-actions text-right float-right">
                        <button *ngIf="modifier==true" type="button" rel="tooltip" title="Modifier document" data-toggle="modal" attr.data-target="#m{{d.id}}" class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">edit</i>
                </button>
                        <button *ngIf="supprimer==true" type="button" rel="tooltip" title="Supprimer recommansation" (click)="delete(d.id)" class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">delete_forever</i>
                </button>
                    </td>
                    <!-- Modal Modifier -->
                    <div class="modal fade" id="m{{d.id}}" tabindex="-1" role="dialog" attr.aria-labelledby="m{{d.id}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="card-header card-header-primary text-center">
                                    <div class="modal-header">

                                        <h5 class="modal-title text-center" id="exampleModalLongTitle">Modifier le document : {{d.titre}}.</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <form #documentForm=ngForm name="documentForm" (ngSubmit)="update(d)" enctype="multipart/form-data">
                                        <div class="alert alert-danger" [hidden]="!error">
                                            {{error}}
                                        </div>

                                        <div class="row mb-3">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label">Titre</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="titre" id="inputEmail3" [(ngModel)]="d.titre" required>
                                            </div>
                                        </div><br>
                                        <div class="row mb-3">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label text-break">Document</label>
                                            <div class="col-sm-10">
                                                <input type="file" accept=".pdf, .doc, .docx" class="form-control" name="documentpartage" (change)="uploadDocument1($event)" id="file1" [(ngModel)]="d.documentpartage">
                                                <div class="text-left"> (.pdf ou .docx seulement)</div>
                                            </div>
                                            <div class="text-center">
                                                <a href="http://localhost:8000/.{{d.documentpartage}}" target="blank">Veuillez consulter ici le PDF déja défini, avant modification.</a>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row mb-3">

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="user_id" id="user_id" value="{{d.user_id}}" [(ngModel)]="d.user_id" hidden required>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary" [disabled]="!documentForm.valid">Enregistrer</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Modifier -->

                </tr>
            </tbody>
        </table>
    </div>
    <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [(page)]="page" currentPage="1" [pageSize]="pageSize" [collectionSize]="documents.length" class="active">
    </ngb-pagination>
    <button *ngif="ajouter1==true" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">Nouveau document</button>
    <div class="card">
        <!-- Modal ajout -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="card-header card-header-primary text-center">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Ajouter un nouveau document.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form #documentForm=ngForm name="documentForm" (ngSubmit)="ajouter()" enctype="multipart/form-data">
                            <div class="alert alert-danger" [hidden]="!error">
                                {{error}}
                            </div>

                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Titre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="titre" id="inputEmail3" [(ngModel)]="document.titre" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword3" class="col-sm-2 col-form-label text-break">Document</label>
                                <div class="col-sm-10">
                                    <input type="file" accept=".pdf, .doc, .docx" (change)="uploadDocument($event)" class="form-control" name="documentpartage" id="file" [(ngModel)]="document.documentpartage" required>
                                    <div class="text-left"> (.pdf ou .docx seulement)</div>
                                </div>
                            </div>

                            <div class="row mb-3">

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="user_id" id="user_id" [(ngModel)]="user.id" hidden required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="!documentForm.valid">Enregistrer</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal ajout-->

</div>
<ng-template #elseBlock>Vous n'avez pas accès à ce module.</ng-template>