<div *ngIf="lire==true; else elseBlock">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ">
            <i class="material-icons pr-1 ">storage</i>
            <li class="breadcrumb-item">
                <a routerLink="/gestion-chaines-de-valeurs" class="text-dark">
                    <p class=""> Gestion Chaines de valeur</p>
                </a>
            </li>
            <li class="breadcrumb-item text-secondary active" aria-current="page">
                Organisations accompagnées
            </li>
        </ol>
    </nav>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header"><span class="material-icons">corporate_fare</span></div>
        <div class="card-body">

            <p class="card-text">Ajouter ci-dessous le fichier Excel comportant les nouvelles données pour la base de données nationale des organisations accompagnées.</p>
            <form #organisationaccompagneeForm=ngForm name="organisationaccompagneeForm" (ngSubmit)="importorganisationaccompagneeFileToDatabase()" enctype="multipart/form-data">
                <div class="input-group mb-3 text-white bg-white">
                    <input (change)="uploadDocument($event)" type="file" accept=".xls, .xlsx, .csv" class="form-control" id="organisation_file" name="organisationaccompagnee_file" class="form-control" required><br><br>
                </div>
                <button type="submit" class="btn btn-secondary" [disabled]="!organisationaccompagneeForm.valid" class="btn btn-secondary">Importer</button>
            </form>
        </div>
    </div><br>
    <div *ngIf="messageerror" class="alert alert-danger">
        {{messageerror}}
    </div>
    <div>
        <div class="card" style="width: 110%;">
            <div class="card-header card-header-secondary">
                <h4 class="card-title">Base de données nationale.</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-bordered border-secondary">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Région</th>
                            <th scope="col">Département</th>
                            <th scope="col">Commune</th>
                            <th scope="col">Nom Organisation</th>
                            <th scope="col">Statut Organisation</th>
                            <th scope="col">Prénom et nom responsable</th>
                            <th scope="col">Contact responsable</th>
                            <th scope="col">Nombre de membres de l'organisation</th>
                            <th scope="col">Nombre membres Hommes</th>
                            <th scope="col">Nombre de membres Femmes</th>
                            <th scope="col">Activités principales</th>
                            <th scope="col">MONTANT DE CREDIT RECU</th>
                            <th scope="col">SOURCE DE FINANCEMENT</th>
                            <th scope="col" class="bg-secondary text-white">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let oa of organisationsaccompagnees ">
                            <td scope="row">{{oa.id}}</td>
                            <td>{{oa.region}}</td>
                            <td>{{oa.departement}}</td>
                            <td>{{oa.commune}}</td>
                            <td>{{oa.nom_organisation}}</td>
                            <td>{{oa.statut_organisation}}</td>
                            <td>{{oa.prenom_et_nom_responsable}}</td>
                            <td>{{oa.contact_responsable}}</td>
                            <td>{{oa.nombre_membre_organisation}}</td>
                            <td>{{oa.nombre_femmes}}</td>
                            <td>{{oa.nombre_hommes}}</td>
                            <td>{{oa.activites_principales}}</td>
                            <td>{{oa.montant_credit_recu}}</td>
                            <td>{{oa.source_financement}}</td>
                            <td> <i class="material-icons text-primary" *ngIf="modifier==true">edit</i>
                                <!-- Modal modifier -->

                                <i class="material-icons text-danger" *ngIf="supprimer==true">delete_forever</i>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div><br>
</div>
<ng-template #elseBlock>Vous n'avez pas accès à ce module.</ng-template>