<div class="card text-white bg-primary mb-3" style="max-width: 18rem;cursor:pointer" (click)="goback()">
    <div class="card-header"><i class="material-icons pr-1 ">map</i></div>
    <div class="card-body">
        <h2 class="card-title">Mbeuleup</h2>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-6 card text-white bg-primary ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">Préalables, Lancements, Evaluations de procédures.</p>
                <a class="btn btn-primary text-white" (click)="gotodocuments()">Voir Documents.</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 card text-white bg-primary ">
        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">Special title treatment</h5>
                <p class="card-text ">Execution de marché.</p>
                <a class="btn btn-primary text-white" (click)="gotoexecutionmarche()">Voir Execution de marché.</a>
            </div>
        </div>
    </div>
</div>