<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <i class="material-icons pr-1 ">map</i>
            <li class="breadcrumb-item">
                <p class=""> Gestion des pistes bavardes</p>
            </li>
            <li class="breadcrumb-item">Travaux</li>
            <li class="breadcrumb-item">Regions</li>
            <li class="breadcrumb-item text-primary active" aria-current="page">Communes</li>
        </ol>
    </nav><br><br><br>
    <div class="float-right">
        <div class="navbar-form" class="col-6 float-right">
            <div class="input-group no-border">
                <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" class="form-control" placeholder="Rechercher...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div><br><br>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 card text-white bg-primary ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">Préalables, Lancements, Evaluations de procédures.</p>
                <a class="btn btn-primary text-white" (click)="gotodocuments()">Voir Documents.</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 card text-white bg-primary ">
        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">Special title treatment</h5>
                <p class="card-text ">Execution de marché.</p>
                <a class="btn btn-primary text-white" (click)="gotoexecutionmarche()">Voir Execution de marché.</a>
            </div>
        </div>
    </div>
</div>