<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Décomptes</h4>
        <p class="card-category">Gestion des décomptes de la commune : </p>
    </div>
    <div class="card-body table-responsive">
        <div class="navbar-form" class="col-6 float-right">
            <div class="input-group no-border">
                <input type="text" name="search" autocomplete="off" class="form-control" placeholder="Rechercher...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div><br><br><br>
        <table class="table table-hover">
            <thead class="text-primary">
                <th>ID</th>
                <th>Titre</th>
                <th>Document</th>
                <th>Options</th>
            </thead>
            <tbody>
                <tr *ngFor="let d of decomptes">
                    <ng-container *ngIf="d.commune_id==idcommune">

                        <td>{{d.id}}</td>
                        <td>{{d.libelle}}</td>
                        <td>
                            <div>
                                <a href="http://localhost:8000/.{{d.decompte}}" target="blank">Consulter le PDF</a>
                            </div>
                        </td>
                        <td class="td-actions">
                            <button type="button" rel="tooltip" title="Modifier décompte" data-toggle="modal" attr.data-target="#m{{d.id}}" class="btn btn-primary btn-link btn-sm">
                           <i class="material-icons">edit</i>
                        </button>
                            <button type="button" rel="tooltip" title="Supprimer décompte" (click)="deleteDecompteCommune(d.id)" class="btn btn-info btn-link btn-sm">
                          <i class="material-icons">delete_forever</i>
                       </button>
                        </td>
                        <!-- Modal decompte modifier -->
                        <div class="modal fade " id="m{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content card">
                                    <div class="modal-header">

                                        <div class="card-header card-header-info">
                                            <h5 class="modal-title card-title" id="exampleModalLabel">Modification de la décompte : {{d.libelle}}</h5>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form #decompteForm=ngForm name="decompteForm" (ngSubmit)="updateDecompteCommune(d)" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="row mb-3">
                                                <label for="inputEmail3">Titre</label><br>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="titre" id="inputEmail3" [(ngModel)]="d.libelle" required>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="inputPassword3">Document</label>
                                                <div class="col-sm-10">
                                                    <input type="file" accept=".pdf, .doc, .docx" (change)="uploadDocumentdecompte($event)" class="form-control" name="evaluation" id="file" [(ngModel)]="d.decompte">
                                                    <div class="text-left text-danger"> (.pdf ou .docx seulement)</div>
                                                    <div>
                                                        <a href="http://localhost:8000/.{{d.decompte}}" target="blank">Consulter le PDF enregistré pour la décompte.</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-info" [disabled]="!decompteForm.valid">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--Fin modal pralable modifier -->
                    </ng-container>

                </tr>

            </tbody>
        </table>
        <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalp">Ajouter Décompte</button>
        <!-- Modal decompte ajout -->

        <div class="modal fade " id="exampleModalp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content card">
                    <div class="modal-header">

                        <div class="card-header card-header-info">
                            <h5 class="modal-title card-title" id="exampleModalLabel">Nouvelle Décompte</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <form #decomptecommuneForm=ngForm name="decomptecommuneForm" (ngSubmit)="AddDecompteCommune()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label for="inputEmail3">Titre</label><br>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="titre" id="inputEmail3" [(ngModel)]="decompte.libelle" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword3">Document</label>
                                <div class="col-sm-10">
                                    <input type="file" accept=".pdf, .doc, .docx" (change)="uploadDocument($event)" class="form-control" name="decompte" id="file" [(ngModel)]="decompte.decompte" required>
                                    <div class="text-left"> (.pdf ou .docx seulement)</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-info" [disabled]="!decomptecommuneForm.valid">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Fin modal pralable ajout -->
    </div>
</div>