<div class="row">
    <div class="col-4">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem; cursor: pointer;" (click)="gotoprealables()">

            <div class="card-body">
                <h5 class="card-title">Préalables</h5>
                <p class="card-text">Gestion des préalables.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem; cursor: pointer;" (click)="gotopiste()">
            <div class="card-body">
                <h5 class="card-title">Pistes</h5>
                <p class="card-text">Gestion de la piste.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem; cursor: pointer;" (click)="gotoprocesverbaux()">
            <div class="card-body">
                <h5 class="card-title">Procés verbaux</h5>
                <p class="card-text">Gestion des procés verbaux.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem; cursor: pointer;" (click)="gotodecomptes()">

            <div class="card-body">
                <h5 class="card-title">Décomptes</h5>
                <p class="card-text">Gestion des décomptes.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem; cursor: pointer;" (click)="gotogaranties()">
            <div class="card-body">
                <h5 class="card-title text-dark">Garanties</h5>
                <p class="card-text">gestion des garanties.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; cursor: pointer;" (click)="gotocontrats()">
            <div class="card-body">
                <h5 class="card-title">Contrats</h5>
                <p class="card-text">Gestion des contrats.</p>
            </div>
        </div>
    </div>
</div>