<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title">Notifications</h3>
                <p class="card-category">Vous retrouverez ici toutes vos notifications.
                    <a href=""></a>
                </p>
            </div>
            <div class="card-body">
                <div class="row">
                    <ng-container *ngFor="let n of notifications|slice: (page-1)*pageSize:page*pageSize">
                        <div class="alert alert-danger alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">notifications_active</i>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons" (click)="deleteNotification(n.id)">close</i>
                            </button>
                            <span data-notify="message">{{n.data.data}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="notifications.length==0">
                        <div class="alert alert-danger alert-with-icon text-center" data-notify="container"><i class="material-icons" data-notify="icon">report</i> Aucune nouvelle notification.</div>
                    </ng-container>
                    <ngb-pagination [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [(page)]="page" currentPage="1" [pageSize]="pageSize" [collectionSize]="notifications.length" class="active"></ngb-pagination>
                </div>
            </div>

            <hr>


        </div>
    </div>
</div>