<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <i class="material-icons pr-1 ">map</i>
            <li class="breadcrumb-item">
                <p class=""> Gestion des pistes bavardes</p>
            </li>
            <li class="breadcrumb-item text-primary active" aria-current="page">Contrôle</li>
        </ol>
    </nav><br>
    <div class="row">
        <div class="navbar-form" class="col-6 float-right">
            <div class="input-group no-border">
                <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" class="form-control" placeholder="Rechercher...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div><br><br>
    </div>
</div>

<div class="row">
    <div *ngFor="let z of zones | searchFilter:searchText" class="col-sm-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-capitalize" (click)="gotozone(z.id)" style="cursor:pointer">{{z.libelle}}</h5><i class="material-icons float-right" (click)="delete(z.id)" style="cursor:pointer">close</i>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">Nouvelle zone</button>

<!-- Modal ajout -->
<div class="w-100">
    <div class="card">
        <div class="modal " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content ">

                    <div class="card-header card-header-primary text-center">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Ajouter une nouvelle zone</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">

                                <form #zoneForm=ngForm name="documentForm" (ngSubmit)="add()">
                                    <label>Titre</label>
                                    <input type="text" class="form-control" name="libelle" [(ngModel)]="zone.libelle" required />
                                    <button class="btn btn-primary" [disabled]="!zoneForm.valid">Ajouter zone</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal ajout-->