<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><i class="material-icons pr-1 ">map</i></div>
    <div class="card-body">
        <h2 class="card-title">Mbeuleup</h2>
        <p class="card-text">Exécution marché : Préalables</p>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-success">
        <h4 class="card-title">Préalables</h4>
        <p class="card-category">Gestion des préalables de la commune : </p>
    </div>
    <div class="card-body table-responsive">
        <div class="navbar-form" class="col-6 float-right">
            <div class="input-group no-border">
                <input type="text" name="search" autocomplete="off" class="form-control" placeholder="Rechercher...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div><br><br><br>
        <table class="table table-hover">
            <thead class="text-primary">
                <th>ID</th>
                <th>Titre</th>
                <th>Document</th>
                <th>Options</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of prealables">
                    <ng-container *ngIf="p.commune_id==idcommune">

                        <td>{{p.id}}</td>
                        <td>{{p.libelle}}</td>
                        <td>
                            <div>
                                <a href="http://localhost:8000/.{{p.prealable}}" target="blank">Consulter le PDF</a>
                            </div>
                        </td>
                        <td class="td-actions">
                            <button type="button" rel="tooltip" title="Modifier préalable" data-toggle="modal" attr.data-target="#m{{p.id}}" class="btn btn-primary btn-link btn-sm">
                           <i class="material-icons">edit</i>
                        </button>
                            <button type="button" rel="tooltip" title="Supprimer préalable" (click)="deletePrealableCommune(p.id)" class="btn btn-success btn-link btn-sm">
                          <i class="material-icons">delete_forever</i>
                       </button>
                        </td>
                        <!-- Modal prealable modifier -->
                        <div class="modal fade " id="m{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content card">
                                    <div class="modal-header">

                                        <div class="card-header card-header-success">
                                            <h5 class="modal-title card-title" id="exampleModalLabel">Modification des préalables : {{p.libelle}}</h5>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form #prealableForm=ngForm name="prealableForm" (ngSubmit)="updatePrealableCommune(p)" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="row mb-3">
                                                <label for="inputEmail3">Titre</label><br>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="titre" id="inputEmail3" [(ngModel)]="p.libelle" required>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <label for="inputPassword3">Document</label>
                                                <div class="col-sm-10">
                                                    <input type="file" accept=".pdf, .doc, .docx" (change)="uploadDocumentprealable($event)" class="form-control" name="prealable" id="file" [(ngModel)]="p.prealable">
                                                    <div class="text-left text-success"> (.pdf ou .docx seulement)</div>
                                                    <div>
                                                        <a href="http://localhost:8000/.{{p.prealable}}" target="blank">Consulter le PDF enregistré pour la décompte.</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-success" [disabled]="!prealableForm.valid">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--Fin modal pralable modifier -->
                    </ng-container>

                </tr>

            </tbody>
        </table>
        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalp">Ajouter Préalable</button>
        <!-- Modal prealable ajout -->

        <div class="modal fade " id="exampleModalp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content card">
                    <div class="modal-header">

                        <div class="card-header card-header-success">
                            <h5 class="modal-title card-title" id="exampleModalLabel">Nouvelle Préalable</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <form #prealablecommuneForm=ngForm name="prealablecommuneForm" (ngSubmit)="AddPrealableCommune()" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label for="inputEmail3">Titre</label><br>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="titre" id="inputEmail3" [(ngModel)]="prealable.libelle" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword3">Document</label>
                                <div class="col-sm-10">
                                    <input type="file" accept=".pdf, .doc, .docx" (change)="uploadDocument($event)" class="form-control" name="prealable" id="file" [(ngModel)]="prealable.prealable" required>
                                    <div class="text-left"> (.pdf ou .docx seulement)</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-success" [disabled]="!prealablecommuneForm.valid">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Fin modal pralable ajout -->
    </div>
</div>