<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-primary">
        <i class="material-icons pr-1 ">assessment</i>
        <li class="breadcrumb-item">
            <p class=""> Gestion Chaines de valeur</p>
        </li>
    </ol>
</nav>
<div class="row">
    <div class="col-8 ">
        <div class="card">
            <table class="table table-hover">
                <thead>
                    <tr class="card-header">
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Type</th>
                        <th scope="col">Valeur cible</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <div class="card border-success mb-3" style="max-width: 25rem;">
            <div class="card-header bg-transparent border-success">Nom Indicateur</div>
            <div class="card-body text-success">
                <h5 class="card-title">Type Indicateur</h5>
                <div class="card-text">
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action list-group-item">Description : </li>
                            <li class="list-group-item list-group-item-action list-group-item">Année Debut :</li>
                            <li class="list-group-item list-group-item-action list-group-item">Nombre années :</li>
                            <li class="list-group-item list-group-item-action list-group-item">Valeur de référence : </li>
                            <li class="list-group-item list-group-item-action list-group-item">Valeur cible :</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent border-success responsive">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Valeur annuelles</h5>
                        <div class="card-text text-white">
                            <ul class="list-group text-white">
                                <li class="list-group-item list-group-item-action list-group-item-light">Valeur 2002 : </li>
                                <li class="list-group-item list-group-item-action list-group-item-light">Valeur 2002 :</li>
                                <li class="list-group-item list-group-item-action list-group-item-light">Valeur 2002: </li>
                                <li class="list-group-item list-group-item-action list-group-item-light">Valeur 2002 : </li>
                                <li class="list-group-item list-group-item-action list-group-item-light">Valeur 2002 :</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>