<nav aria-label="breadcrumb">
    <ol class="breadcrumb text-primary">
        <i class="material-icons pr-1 ">map</i>
        <li class="breadcrumb-item">
            <p class=""> Gestion pistes bavardes</p>
        </li>

    </ol>
</nav>
<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-3">
                <a routerLink="/gestion-pistes-bavardes/travaux">
                    <img class="card-img-top" src="assets/img/travaux.jpg" rel="nofollow" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Travaux</h4>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <a routerLink="/gestion-pistes-bavardes/controle">
                    <img class="card-img-top" src="assets/img/controle.jpg" rel="nofollow" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Contôle</h4>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>