<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><i class="material-icons pr-1 ">map</i></div>
    <div class="card-body">
        <h2 class="card-title">Mbeuleup</h2>
        <p class="card-text">Exécution marché : Pistes Avancement travaux</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 class="card-title">Pourcentage Avancement Physique</h5>
                <h1>{{pourcentage_physique}}%</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 class="card-title">Pourcentage avancement financier</h5>
                <h1>{{pourcentage_financier}}%</h1>
            </div>
        </div>
    </div>
</div><br><br>

<table class="table table-danger table-bordered lg">
    <thead class="text-white bg-danger">
        <th scope="row">Type avancement</th>
        <ng-container *ngFor="let m of mois">
            <th>{{m.mois}}
                <button type="button" rel="tooltip" title="ajouter avancement" data-toggle="modal" attr.data-target="#m{{m.id}}" class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">edit</i>
                </button>

            </th>

        </ng-container>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>% Physique</td>
            <ng-container *ngFor="let m of mois">
                <ng-container *ngFor="let a of avancements">
                    <td *ngIf="(a.mois_id==m.id)">{{a.p_physique}}
                    </td>
                </ng-container>
            </ng-container>
        </tr>
        <tr>
            <td>% Financier</td>
            <ng-container *ngFor="let m of mois">
                <ng-container *ngFor="let a of avancements">
                    <td *ngIf="a.mois_id==m.id">{{a.p_financier}}</td>
                </ng-container>
            </ng-container>
        </tr>
    </tbody>
</table><br>

<div>
    <ng-container *ngFor="let m of mois">
        <ng-container *ngFor="let a of avancements">
            <td *ngIf="a.mois_id==m.id">
                <!-- Modal Avancement ajout -->
                <div class="modal fade" id="m{{m.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content card">
                            <div class="modal-header">
                                <div class="card-header card-header-danger">
                                    <h5 class="modal-title card-title" id="exampleModalLabel">Ajout d'avancement</h5>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            </div>
                            <div class="modal-body">
                                <form action="" #avancementmodifForm=ngForm (ngSubmit)="updateAvancement(a)">
                                    <label class="form-label" for="mois">Choisissez le mois</label>
                                    <select name="mois1" id="mois" class="form-select" [(ngModel)]="a.mois_id" required disabled>
                                <ng-container *ngFor="let m of mois">
                                            <option value={{m.id}} >{{m.mois}}</option>
                                </ng-container>
                            </select><br>

                                    <label class="form-label" for="p_physique">Ajouter pourcentage physique</label>
                                    <input type="number" class="form-control" min="0" max="100" name="p_physique1" [(ngModel)]="a.p_physique" required><br>
                                    <label class="form-label" for="p_financier">Ajouter pourcentage financier</label>
                                    <input type="number" class="form-control" min="0" max="100" name="p_financier1" [(ngModel)]="a.p_financier" required><br>

                                    <div class="modal-footer">
                                        <button class="btn btn-danger" [disabled]="!avancementmodifForm.valid">Enregistrer</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal Avancement ajout-->
            </td>
        </ng-container>
        <td>
            <!-- Modal Avancement ajout -->
            <div class="modal fade" id="m{{m.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content card">
                        <div class="modal-header">
                            <div class="card-header card-header-danger">
                                <h5 class="modal-title card-title" id="exampleModalLabel">Ajout d'avancement</h5>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                        </div>
                        <div class="modal-body">
                            <form #avancementForm=ngForm (ngSubmit)="addAvancement()">

                                <input type="number" id="avancementmoisid" name="mois_id" value={{m.id}} hidden>
                                <div class="alert alert-primary text-center" role="alert">
                                    {{m.mois}}
                                </div>
                                <label class="form-label" for="p_physique">Ajouter pourcentage physique</label>
                                <input type="number" class="form-control" min="0" max="100" name="p_physique" [(ngModel)]="avancement.p_physique" required><br>
                                <label class="form-label" for="p_financier">Ajouter pourcentage financier</label>
                                <input type="number" class="form-control" min="0" max="100" name="p_financier" [(ngModel)]="avancement.p_financier" required><br>

                                <div class="modal-footer">
                                    <button class="btn btn-danger" [disabled]="!avancementForm.valid">Enregistrer</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal Avancement ajout-->
        </td>
    </ng-container>
</div>


<!-- <button class="btn btn-danger float-right" data-toggle="modal" data-target="#exampleModalp">Ajouter Avancement</button>
Modal Avancement ajout -->

<!-- <div class="modal fade " id="exampleModalp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content card">
            <div class="modal-header">

                <div class="card-header card-header-danger">
                    <h5 class="modal-title card-title" id="exampleModalLabel">Ajout d'avancement</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">

                <form action="" #avancementForm=ngForm (ngSubmit)="addAvancement()">
                    <label class="form-label" for="mois">Choisissez le mois</label>
                    <select name="mois" id="mois" class="form-select" [(ngModel)]="avancement.mois_id" required>
                        <ng-container *ngFor="let m of mois">
                            <option value={{m.id}} [disabled]="m.id==1" >{{m.mois}}</option>
                        </ng-container>
                    </select><br>
                    <label class="form-label" for="p_physique">Ajouter pourcentage physique</label>
                    <input type="number" class="form-control" min="0" max="100" name="p_physique" [(ngModel)]="avancement.p_physique" required><br>
                    <label class="form-label" for="p_financier">Ajouter pourcentage financier</label>
                    <input type="number" class="form-control" min="0" max="100" name="p_financier" [(ngModel)]="avancement.p_financier" required><br>

                    <div class="modal-footer">
                        <button class="btn btn-danger" [disabled]="!avancementForm.valid">Enregistrer</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
Modal Avancement ajout-->